main#about {
  min-height: calc(100vh - 60px) !important;

  .about-info {
    display: grid;
    grid-gap: 30px;
    grid-template-areas: 'bioimage bio bio' 'job1 job2 job3';
    grid-template-columns: repeat(3, 1fr);

    .bio-img {
      margin: auto !important;
      grid-area: bioimage !important;
      border-radius: 50% !important;
      border: solid 3px $secondary-color !important;
    }

    .bio {
      grid-area: bio;
      font-size: 1.5rem;
    }

    .job-1 {
      grid-area: job1;
    }
    .job-2 {
      grid-area: job2;
    }
    .job-3 {
      grid-area: job3;
    }

    .job {
      background: lighten($primary-color, 5) !important;
      padding: 0.5rem !important;
      border-bottom: solid 5px $secondary-color !important;
    }
  }
}
