//Global variables
$primary-color: rgba(70, 66, 66, 0.8);
$secondary-color: #00d8ff;
$show-home-image: true;
$home-image: url('../img/background.jpg');
$background-opacity: 0.5;

//@mixins
@mixin ease-out {
  transition: all 0.5s ease-out !important;
}

@mixin background {
  @if $show-home-image {
    &#bg-img {
      background: $home-image;
      background-attachment: fixed !important;
      background-size: cover !important;

      &:after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        min-height: 100vh;
        z-index: -1;
        background: rgba($primary-color, $background-opacity);
      }
    }
  }
}

//Set the text color dinamically depending on the background color
@function set-text-color($color) {
  @if (lightness($color) > 40) {
    @return #000 !important;
  } @else {
    @return #fff !important;
  }
}
//Media query mixins
@mixin mediaSm {
  @media screen and (max-width: 500px) {
    @content;
  }
}
@mixin mediaMd {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin mediaLg {
  @media screen and (min-width: 769px) and (max-width: 1170px) {
    @content;
  }
}
@mixin mediaXl {
  @media screen and (min-width: 1171px) {
    @content;
  }
}
