main#work {
  min-height: calc(100vh - 60px) !important;

  .work-projects {
    display: grid !important;
    grid-gap: 30px !important;
    grid-template-areas: 'job1 job2 job3' !important;
    grid-template-columns: repeat(3, 1fr) !important;

    .job-1 {
      grid-area: job1 !important;
    }
    .job-2 {
      grid-area: job2 !important;
    }
    .job-3 {
      grid-area: job3 !important;
    }

    .job {
      background: lighten($primary-color, 5) !important;
      padding: 1rem 1.5rem !important;
      border-bottom: solid 5px $secondary-color !important;
      min-height: 110% !important;
      position: relative !important;
      .job-title {
        font-weight: bold !important;
        display: block;
        font-size: 1.17em;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
      }
      .job-subtitle {
        display: block;
        font-size: 0.9em;
        margin-block-start: 2.33em;
        margin-block-end: 2.33em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
      }
      .job-paragraph {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
      }
      .btns-wrapper {
        // margin-bottom: auto;
        position: absolute !important;
        top: auto !important;
      }
    }
  }
}

.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.7rem;

  img {
    width: 100%;
    border: #fff solid 3px;
    &:hover {
      opacity: 0.5;
      border-color: $secondary-color;
      @include ease-out;
    }
  }
}
