main#work {
  min-height: calc(100vh - 82px) !important;

  .work-projects {
    display: flex;
    justify-content: space-around;
    margin-top: 1em;
    align-items: flex-start;
    .job {
      background: lighten($primary-color, 5) !important;
      padding: 1rem 1.5rem !important;
      border-bottom: solid 5px $secondary-color !important;
      min-height: 110% !important;
      position: relative !important;
      margin-right: 0.5em;
      display: flex;
      flex-direction: column;
      flex: 1;
      justify-content: space-between;
      .job-title {
        font-weight: bold !important;
        display: block;
        font-size: 1.17em;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
      }
      .job-subtitle {
        display: block;
        font-size: 0.7em;
        color: $secondary-color;
        font-weight: bold;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        span {
          background-color: #333;
          padding: 5px;
          border-radius: 5px;
          margin: 0;
          margin-right: 0;
        }
      }
      .job-paragraph {
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
      }
      .btns-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
      }
    }
    &.new-row {
      margin-top: 10px;
    }
  }
}

// .projects {
//   display: grid;
//   grid-template-columns: repeat(3, 1fr);
//   grid-gap: 0.7rem;

//   img {
//     width: 100%;
//     border: #fff solid 3px;
//     &:hover {
//       opacity: 0.5;
//       border-color: $secondary-color;
//       @include ease-out;
//     }
//   }
// }
