@import 'config';
@import 'menu';
@import 'about';
@import 'work';
@import 'buttons';
@import 'contact';

//Global styles
* {
  box-sizing: border-box !important;
}

body {
  @include background;
  background-color: $primary-color;
  color: set-text-color($primary-color);
  height: 100% !important;
  margin: 0 !important;
  line-height: 1.5 !important;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

// Headings
h1,
h2,
h3 {
  margin: 0 !important;
  font-weight: 400 !important;

  &.lg-heading {
    font-size: 6rem !important;
  }
  &.sm-heading {
    font-size: 1.5em !important;
    margin-bottom: 2rem !important;
    padding: 0.2rem 1rem !important;
    background: rgba(lighten($primary-color, 2), 0.5) !important;
  }
}

a {
  color: #fff !important;
  text-decoration: none !important;
}

//Header
header {
  position: fixed !important;
  z-index: 2 !important;
  width: 100% !important;
}

.text-secondary {
  color: $secondary-color !important;
}
// Footer
#main-footer {
  text-align: center !important;
  padding: 1rem !important;
  height: 60px !important;
  background-color: darken($primary-color, 10) !important;
  color: set-text-color($primary-color) !important;
}
//main
main {
  padding: 4rem !important;
  min-height: calc(100vh - 60px) !important;

  .icons {
    margin-top: 1rem !important;
    a {
      padding: 0.4rem !important;
      &:hover {
        color: $secondary-color !important;
        @include ease-out();
      }
    }
  }
  &#home {
    overflow: hidden !important;
    h1 {
      margin-top: 20vh !important;
    }
  }
}

@import 'mobile';
